<template name="footer">
  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working passionate on this
            project to show the capabilities of Virtual Reality.</p>
        </div>
        <div class="col offset-l2 l4 s12">
          <h5 class="white-text">Developers</h5>
          <ul>
            <li><a class="white-text" href="#!">Thereza Sophie Schmelter</a></li>
            <li><a class="white-text" href="https://de.linkedin.com/in/kasanzew" target="_blank">Sebastian Kasanzew</a></li>
            <li><a class="white-text" href="#!">Elias Lerch</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p>
          Made for
          <a class="white-text text-lighten-4"
             href="http://www.langenachtderwissenschaften.de/"
             target="_blank">Long Night of Sciences</a>
          2016 in Berlin at
          <a class="white-text text-lighten-4"
             href="https://www.beuth-hochschule.de/"
             target="_blank">Beuth University of Applied Sciences</a>
        </p>
      </div>
    </div>
  </footer>
</template>
