@import 'variables';

html, body {
  height: 100%;
}

body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

h3 {
  font-size: 2rem;
}

footer.page-footer {
  height: @footer-height;
  position: absolute;
  bottom: 0;

  // center the footer
  left: 0;
  right: 0;
  margin: auto;

  .footer-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
  }
}

// Materialize CSS input field color
.card-panel.teal {
  /* label color */
  .input-field label {
    color: #FFF;
  }

  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #FFF;
  }

  /* label underline color */
  .input-field input[type=text] {
    border-bottom: 1px solid #FFF;
  }

  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 0 0 #FFF;
  }

  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 0 0 #FFF;
  }

  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 0 0 #FFF;
  }

  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #FFF;
  }
}

.select-wrapper {
  span.caret {
    color: white;
  }
}

#wrapper { // wrap the whole content to place the footer always to the bottom
  min-height: 100%;
  position: relative;
  overflow: hidden; // hide the horizontal scrollbar during a transition

  #content {
    margin-bottom: @footer-height;
  }
}

.side-nav {
  li {
    padding: 0;
  }
}
