<template name="screenshotFeed">
  <div class="blue">
    <div class="container">
      <br><br>
      <div class="row control-buttons">
        <div class="col m4 s12">
          <div class="card-panel blue lighten-5 hoverable center no-select">Scale</div>
          <div class="card-panel blue lighten-5 hoverable center no-select">Rotate</div>
        </div>
        <div class="col m4 s12">
          <div class="card-panel blue lighten-5 hoverable center no-select">Draw</div>
          <div class="card-panel blue lighten-5 hoverable center no-select">Erase</div>
        </div>
        <div class="col m4 s12">
          <div class="card-panel blue lighten-5 hoverable center no-select">Something</div>
          <div class="card-panel blue lighten-5 hoverable center no-select">Something</div>
        </div>
      </div>
      <br>
    </div>
  </div>
</template>
