<template name="screenshotFeed">
  <div class="teal">
    <div class="container">
      <br><br>
      <div class="row">
        <div class="col m4 s12">
          <div class="card-panel hoverable center">Placeholder</div>
          <div class="card-panel hoverable center">Placeholder</div>
          <div class="card-panel hoverable center">Placeholder</div>
          <div class="card-panel hoverable center">Placeholder</div>
        </div>
        <div class="col m4 s12">
          <div class="card-panel hoverable center">Placeholder</div>
          <div class="card-panel hoverable center">Placeholder</div>
          <div class="card-panel hoverable center">Placeholder</div>
          <div class="card-panel hoverable center">Placeholder</div>
        </div>
        <div class="col m4 s12">
          <div class="card-panel hoverable center">Placeholder</div>
          <div class="card-panel hoverable center">Placeholder</div>
          <div class="card-panel hoverable center">Placeholder</div>
          <div class="card-panel hoverable center">Placeholder</div>
        </div>
      </div>
      <br>
    </div>
  </div>
</template>
