<template name="nav">
  <div class="navbar-fixed">
    <nav class="blue darken-3" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo white-text">ShapeLab</a>

        <ul class="right hide-on-med-and-down">
          {{> navLinks }}
        </ul>

        <ul id="nav-mobile" class="side-nav blue darke-4">
          {{> navLinks }}
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</template>
